@font-face {
    font-family: 'long-shot';
    src: url('../fonts/Long_Shot.ttf');
}

@font-face {
  font-family: 'Nike';
  src: url('../fonts/nike_0204_x.ttf');
}

@font-face {
  font-family: Orbitron;
  src: url(../fonts/Orbitron-VariableFont_wght.ttf);
}

:root{
  --space-blue: #0C0C16;
}

* {
  padding: 0;
  margin: 0;
}

body{
  width: 100%;
  background: url(../img/estrellas-min.png) #000 ;
}

/************ navbar *************/

header{
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 90px;
  background: rgb(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nvLogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
  width: 300px;
}

.nvLogo{
  font-size: 2.5em;
  color: #fff;
  font-family: 'long-shot';
  text-decoration: none;
  position: relative;
}

.nvLogoContainer p{
  font-size: 15px;
  color: #fff;
  font-family: 'Nike';
}

.menu-container {
  margin-right: 10px;
  display: none;
  cursor: pointer;
  position: relative;
}

.menu-container div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px;
  transition: 0.4s;
}

.botones{
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton,
.boton-language{
  height: 80px;
  line-height: 80px;
  font-size: 2em;
  padding: 0px 20px;
  font-family: 'long-shot';
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.boton::after,
.boton-language::after{
  content: '';
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 4px;
  background-color: #ff0000;
  display: none;
}

.boton:hover::after,
.boton-language::after{
  display: block;
}

.language-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language{
  display: none;
  position: absolute;
  top: 80px;
  background: rgb(0, 0, 0, 0.6);
}

.language-container a{
  display: flex;
  align-items: center;
  gap: 10px;
}

.language .boton{
  height: 40px;
  line-height: 40px;
  font-family: Orbitron;
  font-size: 1.2em;
}

.language-container:hover > .language{
  display: block;
}

header .visible{
  display: flex;
}



/*********** particulas **********/

#particles-js{
  width: 100%;
  height: 100%;
  z-index: -100;
  position: fixed;
  opacity: 10;
  transition: all 1s;
}

/*********** contenido ***********/
article{
  width: 100%;
  position: relative;
  background: #000 url(../img/estrellas-min.png);
  opacity: 0;
  padding-top: 800px;
}

/********** grieta **********/

.earthquake{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.earthquake video{
  height: 1500px;
}

/* video movil */

#videoMovil {
  display:none;
}

/********* trailer *********/

.ads{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.advideo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.advideo video{
  width: 100%;
  z-index: 5;
}

.advideo img{
  cursor: pointer;
  opacity: 1;
  border-radius: 50%;
  transition: all .3s;
  width: 60px;
  height: auto;
  z-index: 6;
}

.advideo img:hover{
  box-shadow: 0px 0px 30px #637BA8, 0px 0px 15px #637BA8;
}

.containerBtnPlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.containerBtnPlay h2 {
  color: #fff;
  font-family: Orbitron;
  font-size: 20px;
  width: 100%;
  z-index: 6;
  margin-top: 20px;
}

/* video movil */

.ads2{
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}
.advideo2{
  display: flex;
  align-items: center;
  justify-content: center;
}
.advideo2 video{
  width: 100%;
  z-index: 5;
}

.containerBtnPlay2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.containerBtnPlay2 h2 {
  color: #fff;
  font-family: Orbitron;
  font-size: 20px;
  width: 100%;
  z-index: 6;
  margin-top: 20px;
}

.containerBtnPlay2 img{
  cursor: pointer;
  opacity: 1;
  border-radius: 50%;
  transition: all .3s;
  width: 5%;
  z-index: 6;
}

.advideo2 img:hover{
  box-shadow: 0px 0px 30px #637BA8, 0px 0px 15px #637BA8;
}

/******** lore ********/

.history {
  z-index: 0;
  position: relative;
  width: 100%;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.history img{
  position: absolute;
  z-index: -55;
  top: -20px;
  right: 0;
  width: 741px;
}

.lore-texto{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 700px;
  margin-left: 300px;
  z-index: 6;
}

.lore-parrafo{
  transition: all 1s linear;
  text-align: center;
  margin-right: -200px;
  color: rgb(255, 255, 255);
  font-family: Orbitron;
  font-size: 1.5em;
  z-index: 20;
  margin: 80px 0px;
  z-index: 6;
}


.lore-texto h1{
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: Orbitron;
  font-size: 2.5em;
  width: 100%;
  z-index: 6;
}

/* what is lifeout */

.lifeOut {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 5;
}

.lifeOut-texto{
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 300px;
  z-index: 6;
}

.lifeOut-parrafo{
  transition: all 1s linear;
  text-align: center;
  margin-right: -200px;
  color: rgb(255, 255, 255);
  font-family: Orbitron;
  font-size: 1.5em;
  z-index: 20;
  margin: 80px 0px;
  z-index: 6;
}


.lifeOut-texto h1{
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: Orbitron;
  font-size: 2.5em;
  width: 100%;
  z-index: 6;
}




/******** supply ******/

.supply{
  width: 100%;
  min-height: 1000px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.dvsupply{
  z-index: 5;
  display: flex;
  gap: 50px;
  margin-left: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.supply-title{
  color: rgb(255, 255, 255);
  font-family: Orbitron;
  font-size: 2.5em;
}


.supply-text{
  width: 500px;
  font-family: Orbitron;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}




/****** NFT-Nomics *****/

.container-nft-nomics {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 300px;
}

.container-nft-nomics h1 {
  text-align: center;
  color: white;
  font-family: Orbitron;
  font-size: 40px;
}

.container-nft-nomics p{
  padding-top: 50px;
  font-family: Orbitron;
  color: white;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
}

.containerTortas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 500px;
  gap: 150px;
}

/* 1° torta */

.containerTorta1 {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.containerTorta1 h2{
  position: absolute;
  top: 50px;
  color: white;
  font-family: Orbitron;
  font-size: 30px;
}

.torta1-percentage-team {
  text-align: center;
  font-family: Orbitron;
  font-size: 20px;
  color: white;
  width: 150px;
  position: absolute;
  top: 200px;
  left: 30px;
  z-index: 5;
  text-shadow: 0px 0px 5px #000,0px 0px 10px #000,0px 0px 25px #000,0px 0px 45px #000;
}


.torta1-percentage-marketing {
  text-align: center;
  font-family: Orbitron;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 380px;
  left: 50px;
  z-index: 5;
  text-shadow: 0px 0px 5px #000,0px 0px 10px #000,0px 0px 25px #000,0px 0px 45px #000;
}


.torta1-percentage-reserve {
  text-align: center;
  font-family: Orbitron;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 250px;
  left: 350px;
  width: 300px;
  width: 200px;
  z-index: 5;
  text-shadow: 0px 0px 5px #000,0px 0px 10px #000,0px 0px 25px #000,0px 0px 45px #000;
}


.torta1 {
  background-color: black;
  top: 30px;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  position: relative;
  border: 7px solid #fff53b;
  transform:  skew(15deg);
  z-index: 1;
  box-shadow: 0 0 50px #fff53b;
}


.porcion1 {
  position: absolute;
  top: -13px;
  left: 13px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: url(../img/3.png);
  background-size: 300px 300px;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 50% 50%, 50% 0);
  z-index: 2;
  transition: 300ms linear;
}

.porcion1:hover {
  transform: scale(1.02);
  transform: translate(15px, -15px);
}

.porcion2 {
  position: absolute;
  top: -13px;
  left: 13px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: url(../img/2.png);
  background-size: 300px 300px;
  clip-path: polygon(50% 50%, 0 50%, 0 100%);
  z-index: 4;
}

.porcion2:hover {
  transition: 300ms linear;
  transform: scale(1.05);
  transform: translate(15px, -15px);
}

.porcion3 {
  position: absolute;
  top: -30px;
  left: 30px;
  height: 100%;
  width: 100%;
  background: url(../img/1.png);
  background-size: 300px 300px;
  border-radius: 50%;
  clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);
  z-index: 3;
}

.porcion3:hover {
  transition: 300ms linear;
  transform: scale(1.05);
  transform: translate(15px, -15px);
}



/* 2° torata */

.containerTorta2 {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.containerTorta2 h2{
  position: absolute;
  top: 50px;
  color: white;
  font-family: Orbitron;
  font-size: 30px;
}

.torta2-percentage-team {
  font-family: Orbitron;
  font-size: 20px;
  text-align: center;
  color: white;
  position: absolute;
  top: 200px;
  left: 30px;
  z-index: 5;
  width: 150px;
  text-shadow: 0px 0px 5px #000,0px 0px 10px #000,0px 0px 25px #000,0px 0px 45px #000;
}


.torta2-percentage-marketing {
  font-family: Orbitron;
  font-size: 20px;
  text-align: center;
  color: white;
  position: absolute;
  top: 400px;
  left: 70px;
  z-index:5;
  width: 150px;
  text-shadow: 0px 0px 5px #000,0px 0px 10px #000,0px 0px 25px #000,0px 0px 45px #000;
}

.torta2-percentage-investment {
  font-family: Orbitron;
  font-size: 20px;
  text-align: center;
  color: white;
  position: absolute;
  top: 378px;
  left: 256px;
  z-index: 5;
  width: 300px;
  text-shadow: 0px 0px 5px #000,0px 0px 10px #000,0px 0px 25px #000,0px 0px 45px #000;
}



.torta2 {
  background-color: black;
  top: 30px;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  position: relative;
  border: 7px solid #fff53b;
  transform:  skew(15deg);
  z-index: 1;
  box-shadow: 0 0 50px #fff53b;
}


.porcion4 {
  position: absolute;
  top: -13px;
  left: 13px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: url(../img/4.png);
  background-size: 300px 300px;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 50% 50%, 50% 0);
  z-index: 2;
  transition: 300ms linear;
}

.porcion4:hover {
  transform: scale(1.02);
  transform: translate(15px, -15px);
}

.porcion5 {
  position: absolute;
  top: -13px;
  left: 13px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: url(../img/5.png);
  background-size: 300px 300px;
  clip-path: polygon(50% 50%, 0 60%, 0 100%);
  z-index: 4;
}

.porcion5:hover {
  transition: 300ms linear;
  transform: scale(1.05);
  transform: translate(20px, -20px);
}

.porcion6 {
  position: absolute;
  top: -30px;
  left: 30px;
  height: 100%;
  width: 100%;
  background: url(../img/6.png);
  background-size: 300px 300px;
  border-radius: 50%;
  clip-path: polygon(0 0, 50% 0, 50% 50%, 0 60%);
  z-index: 3;
}

.porcion6:hover {
  transition: 300ms linear;
  transform: scale(1.05);
  transform: translate(15px, -15px); 
}

/********** team *********/

.team-container{
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.aboutus{
  color: #fff;
  font-size: 60px;
  text-align: center;
  padding: 0px;
  font-family: Orbitron;
  margin-bottom: 70px;
}

/* team / personal */

.team{
  width: 100%;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
}

.dvteam{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

/* persona */

.persona{
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  padding: 10px;
  z-index: 5;
}

.persona img{
  width: 20px;
}

.persona h1,
.persona p{
  text-align: center;
  color: #fff;
  font-family: Orbitron;
}

.persona h1{
  font-size: 2em;
}

.persona p{
  font-size: 1.3em;
}

.persona a{
  position: relative;
  text-decoration: none;
}

.persona a:hover{
  text-decoration: underline;
}


.tecnico{
  display: flex;
  align-items: center;
  gap: 50px;
}

.teamPersona{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
}

.teamPersona img{
  width: 25px;
}

.iconosRedes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.persona a {
  height: 20px;
  width: 20px;
  border-radius: 5px;
}

.team2 a { 
  height: 20px;
  width: 20px;
  border-radius: 5px;
}

.persona a:hover,
footer a:hover {
  cursor: pointer;
  border: 2px solid yellow;
  /* transform: scale(1.05); */
  transition: 1s ease linear;
}

/********** footer ************/

footer {
  color: #fff;
  font-family: 'Nike';
  font-size: 20px;
  background: rgb(0, 0, 0);
  z-index: 50;
  position: relative;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 2px solid rgb(255, 255, 255);
}

.redesLifeOut {
  height: 50%;
  gap: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a{
  color: #fff;
  text-decoration: none;
  width: 36px;
  border-radius: 8px;
}

footer a:hover{
  text-decoration: underline;
}


@media (max-width: 1900px){

  /* grieta */

  .earthquake video{
    height: 1000px;
  }

}

@media (max-width: 1600px){
  
  /* lore */

  .lore-texo{
    margin-left: 200px;
    font-size: .8em;
  }

  /* what is lifeOut */

  .lifeOut-texto{
    margin-left: 200px;
  }

  /* supply */

  .dvsupply{
    margin-left: 200px;
    font-size: .8em;
  }

}
@media (max-width: 1400px){

  /* lore */

  .lore-texto{
    margin-left: 100px;
  }

  /* what is lifeOut */

  .lifeOut-texto{
    margin-left: 100px;
  }

  /* supply */

  .dvsupply{
    margin-left: 100px;
  }

  /* nft-nomics */

  .containerTortas {
    gap: 20px;
  }

}
@media (max-width: 1300px){

  /* lore */

  .history img{
    top: 50px;
    width: 500px;
  }
  
}
@media (max-width: 1200px){

  /* lore */

  .lore-texto{
    margin-left: 50px;
    width: 500px;
  }

  /* what is lifeOut */

  .lifeOut-texto{
    margin-left: 50px;
    width: 500px;
  }

  /* supply*/

  .dvsupply{
    margin-left: 50px;
    width: 500px;
    text-align: center;
  }
  
}
@media (max-width: 1250px){

  /* navbar */

  .boton,
  .boton-language{
    font-size: 1.4em;
  }

  .language .boton{
    font-size: 1em;
  }

  /* lore */

  .lore-texto{
    margin-left: 10px;
  }

  /* what is lifeOut */

  .lifeOut-texto{
    margin-left: 10px;
  }

}

@media (max-width: 1050px){

  /* navbar */

  header{
    flex-wrap: wrap;
  }
  .menu-container{
    display: block;
  }
  .botones{
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    flex-direction: column;
    top: 80px;
    width: 100%;
    display: none;

  }
  .boton,
  .boton-language{
    height: 50px;
    line-height: 50px;
  }
  .language{
    top: 50px;
    width: 300px;
  }
} 

@media (max-width: 900px){

  /* lore */

  .history{
    align-items: center;
  }

  .lore-texto{
    width: 100%;
    margin: 0;
    font-size: .8em;
  }

  .lore-parrafo{
    width: 60%;
  }

  /* what is lifeOut */

  .lifeOut-texto{
    width: 100%;
    margin: 0;
    font-size: .8em;
  }

  .lifeOut-parrafo{
    width: 60%;
  }

  /* supply */

  .supply{
    align-items: center;
  }

  .dvsupply{
    margin: 0;
  }

}

@media (max-width: 840px){

  /* team */

  .aboutus{
    padding: 30px;
    font-size: 3em;
    margin-bottom: 70px;
  }
  .persona h1{
    font-size: 1.7em;
  }
  .persona p{
    font-size: 1em;
  }

}

@media (max-width: 710px){

  /* supply */

  .supply-title{
    width: 90%;
  }

  /* nft-nomics*/

  .torta2-percentage-investment{
    top: 187px;
    left: 291px;
  }

  /* team */

  .aboutus{
    padding: 20px;
    font-size: 2em;
    margin-bottom: 20px;
    width: 80%;
  }
  
  .team {
    flex-direction: column;
  }
  .team-container {
    margin-top: 100px;
    gap: 10px;
    min-height: 1200px;
  }
  .persona h1{
    font-size: 1.4em;
  }
  .persona p{
    font-size: 1em;
  }
  .persona img{
    width: 20px;
  }
  .persona a {
    height: 20px;
    width: 20px;
  }
  .dvteam{
    gap: 40px;
  }
  .persona {
    height: 40px;
    padding: 20px;
  }
  
}


@media (max-width: 600px){

  /* grieta */
  .earthquake{
    margin-top: 70px;
  }
  .earthquake video{
    width: 100%;
    height: auto;
  }
  #videoMovil {
    display:block;
  }
  #video {
    display:none;
  }
  .ads{
    display: none;
  }
  .advideo2 img {
    height: 70px;
    width: auto;
  }

  /* trailer */
  
  .ads2{
    display: flex;
  }

  /* lore */

  .lore-parrafo{
    width: 80%;
  }

  /* what is lifeOut */

  .lifeOut-parrafo{
    width: 80%;
  }

  /* supply */

  .dvsupply{
    width: 100%;
    margin: 0;
  }

  /* nft-nomics*/

  .containerTortas {
    gap: 50px;
  }
  .containerTorta1 {
    width: 300px;
    height: 300px;
  }
  .containerTorta2 {
    width: 300px;
    height: 300px;
  }
  .sombratorta1 {
    top: 180px;
    left: 20px;
    height: 200px;
    width: 200px;
  }
  .torta1 {
    top: 80px;
    height: 200px;
    width: 200px;
  }
  .torta1-percentage-team {
    font-size: 15px;
    top: 150px;
    left: 0px;
    width: 100px;
  }
  .torta1-percentage-marketing {
    font-size: 15px;
    top: 250px;
    left: 0px;
  }
  .torta1-percentage-reserve {
    font-size: 15px;
    top: 180px;
    left: 200px;
    width: 100px;
  }
  .sombratorta2 {
    top: 180px;
    left: 20px;
    height: 200px;
    width: 200px;
  }
  .torta2 {
    top: 80px;
    height: 200px;
    width: 200px;
  }
  .torta2-percentage-team {
    font-size: 15px;
    top: 150px;
    left: 0px;
    width: 100px;
  }
  .torta2-percentage-marketing {
    font-size: 15px;
    top: 250px;
    left: 0px;
  }
  .torta2-percentage-investment {
    font-size: 15px;
    top: 180px;
    left: 200px;
    width: 120px;
  }
  .porcion3 {
    top: -20px;
    left: 20px;
  }
  .porcion6 {
    top: -20px;
    left: 20px;
  }
  
  /* footer */

  footer .redesLifeOut{
    height: 50px;
  }
  footer img{
    height: 30px;
  }

  
}

@media (max-width: 500px){


  /* lore */

  .lore-parrafo{
    width: 100%;
    margin: 40px 0px;
  }

  /* supply */

  .supply{
    align-items: center;
    height: 700px;
  }
  
  .dvsupply{
    gap: 30px;
    height: 600px;
    padding: 0px;
  }
  .supply-text{
    width: 80%;
  }

  /* Footer */
  footer {
    font-size: 15px;
    gap: 10px;
  }

}

@media (max-width: 380px){

  /* nft-nomics */

  .containerTorta1{
    height: 400px;
  }
  .sombratorta1{
    top: 234px;
    left: 19px;
  }

  .torta1-percentage-team{
    font-size: .6em;
    top: 210px;
    left: 56px;
  }

  .torta1-percentage-marketing{
    font-size: .6em;
    top: 276px;
    left: 79px;
    width: auto;
  }

  .torta1-percentage-reserve{
    font-size: .6em;
    top: 223px;
    left: 162px;
  }

  .containerTorta2{
    height: 400px;
  }
  .sombratorta2{
    top: 234px;
    left: 19px;
  }
  .torta2-percentage-team{
    font-size: .6em;
    top: 210px;
    left: 56px;
  }

  .torta2-percentage-marketing{
    font-size: .6em;
    top: 284px;
    left: 49px;
  }

  .torta2-percentage-investment{
    font-size: .6em;
    top: 223px;
    left: 162px;
  }
}

@media (max-width: 300px){
  /* nft-nomics */
  .containerTorta1{
    width: 100%;
    overflow: hidden;
  }
  .torta1{
    width: 150px;
    height: 150px;
  }
  .torta1-percentage-reserve {
    top: 244px;
    left: 140px;
  }
  .containerTorta2{
    width: 100%;
    overflow: hidden;
  }
  .torta2-percentage-investment {
    font-size: .6em;
    top: 244px;
    left: 125px;
  }
  .torta2{
    width: 150px;
    height: 150px;
  }
  
}

@media (max-width: 230px){

  /* lore */

  .lore-parrafo{
    margin: 20px 10px;
  }

}