@font-face {
    font-family: 'long-shot';
    src: url('../fonts/Long_Shot.ttf');
}

@font-face {
  font-family: Orbitron;
  src: url(../fonts/Orbitron-VariableFont_wght.ttf);
}

:root{
  --space-blue: #0C0C16;
}

* {
  padding: 0;
  margin: 0;
}

body{
  width: 100%;
  background: url(../img/estrellas-min.png) #000 ;
}

/************ navbar *************/

header{
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nvLogo{
  font-size: 3em;
  margin-left: 20px;
  color: #fff;
  font-family: 'long-shot';
}

.menu-container {
  margin-right: 10px;
  display: none;
  cursor: pointer;
  position: relative;
}

.menu-container div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px;
  transition: 0.4s;
}

.botones{
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton{
  height: 80px;
  line-height: 80px;
  font-size: 2em;
  padding: 0px 20px;
  font-family: 'long-shot';
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.boton::after{
  content: '';
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 4px;
  background-color: #ff0000;
  display: none;
}

.boton:hover::after{
  display: block;
}

.language-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language{
  display: none;
  position: absolute;
  top: 80px;
  background: rgba(0, 0, 0, 0.6);
}

.language-container a{
  display: flex;
  align-items: center;
  gap: 10px;
}

.language .boton{
  height: 40px;
  line-height: 40px;
  font-family: Orbitron;
  font-size: 1.2em;
}

.language-container:hover > .language{
  display: block;
}

header .visible{
  display: flex;
}

/************ grieta *************/

.earthquake{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 100%;
  height: 1000px;
  overflow: hidden;
}

.earthquake video{
  height: 1000px;
}

.transparencia{
  width: 100%;
  height: 100%;
  z-index: 4;
  position: absolute;
}

.logo{
  font-family: 'long-shot';
  width: 100%;
  height: 1000px;
  opacity: 0;
  padding-top: 100px;
  font-size: 15em;
  position: absolute;
  z-index: 3;
  transition: all 1s linear;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

/*********** particulas **********/

#particles-js{
  width: 100%;
  height: 100%;
  z-index: 5;
  position: fixed;
  opacity: 10;
  transition: all 1s;
}

/*********** contenido ***********/
article{
  width: 100%;
  position: relative;
}



.history {
  z-index: 0;
  position: relative;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.history img{
  position: absolute;
  z-index: 5;
  top: -150px;
  right: 0;
  width: 1400px;
}

.texto{
  width: 600px;
}

.parrafo{
  transition: all 1s linear;
  text-align: center;
  margin-right: -200px;
  color: rgb(255, 255, 255);
  font-family: Orbitron;
  font-size: 1.5em;
}

.about{
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-title{
  color: rgb(255, 255, 255);
  padding: 50px;
  font-family: Orbitron;
  font-size: 2.5em;
}

.dvabout{
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.questions{
  width: 500px;
  padding: 50px;
  font-family: Orbitron;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
}


.questions-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/************ team *********/

.team-container{
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aboutus{
  color: #fff;
  font-size: 4em;
  padding: 50px;
  font-family: Orbitron;
}

.team{
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dvteam{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.persona{
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  z-index: 50;
}

.persona img{
  width: 25px;
}

.persona h1,
.persona p{
  color: #fff;
  font-family: Orbitron;
}

.persona h1{
  font-size: 2em;
}

.persona p{
  font-size: 1.3em;
}

.persona a{
  position: relative;
  text-decoration: none;
}

.persona a:hover{
  text-decoration: underline;
}

.tecnico{
  display: flex;
  align-items: center;
  gap: 30px;
}

.teamPersona{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
}

.teamPersona img{
  width: 25px;
}

/********** footer ************/

footer{
  z-index: 50;
  position: relative;
  width: 100%;
  height: 100px;
  gap: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a{
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  font-family: Orbitron;
}

footer a:hover{
  text-decoration: underline;
}

@media (max-width: 860px){
  header{
    flex-wrap: wrap;
  }
  .menu-container{
    display: block;
  }
  .botones{
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    flex-direction: column;
    top: 80px;
    width: 100%;
    display: none;
  }
  .boton{
    height: 50px;
    line-height: 50px;
  }
  .language{
    top: 50px;
    width: 300px;
  }
  
}