@font-face {
    font-family: 'long-shot';
    src: url('../fonts/Long_Shot.ttf');
}

@font-face {
  font-family: Orbitron;
  src: url(../fonts/Orbitron-VariableFont_wght.ttf);
}

:root{
  --space-blue: #0C0C16;
}

* {
  padding: 0;
  margin: 0;
}

body{
  width: 100%;
  background: url(../img/estrellas-min.png) #000 ;
}

/************ navbar *************/

header{
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 80px;
  background: rgb(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nvLogo{
  font-size: 3em;
  margin-left: 20px;
  color: #fff;
  font-family: 'long-shot';
}

.menu-container {
  margin-right: 10px;
  display: none;
  cursor: pointer;
  position: relative;
}

.menu-container div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px;
  transition: 0.4s;
}

.botones{
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton{
  height: 80px;
  line-height: 80px;
  font-size: 2em;
  padding: 0px 20px;
  font-family: 'long-shot';
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.boton::after{
  content: '';
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 4px;
  background-color: #ff0000;
  display: none;
}

.boton:hover::after{
  display: block;
}

.language-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language{
  display: none;
  position: absolute;
  top: 80px;
  background: rgb(0, 0, 0);
}

.language-container a{
  display: flex;
  align-items: center;
  gap: 10px;
}

.language .boton{
  height: 40px;
  line-height: 40px;
  font-family: Orbitron;
  font-size: 1.2em;
}

.language-container:hover > .language{
  display: block;
}

header .visible{
  display: flex;
}

/************ grieta *************/

.earthquake{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 100%;
  overflow: hidden;
}

.earthquake video{
  height: 1500px;
}


#videoMovil {
  display:none;
}

.transparencia{
  width: 100%;
  height: 100%;
  z-index: 4;
  position: absolute;
}

.logo{
  font-family: 'long-shot';
  width: 100%;
  height: 1000px;
  opacity: 0;
  padding-top: 100px;
  font-size: 15em;
  position: absolute;
  z-index: 3;
  transition: all 1s linear;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

/*********** particulas **********/

#particles-js{
  width: 100%;
  height: 100%;
  z-index: -100;
  position: fixed;
  opacity: 10;
  transition: all 1s;
}

/*********** contenido ***********/
article{
  width: 100%;
  position: relative;
}

.ads{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.advideo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.advideo video{
  width: 100%;
  z-index: 5;
}

.advideo img{
  cursor: pointer;
  opacity: 1;
  border-radius: 50%;
  transition: all .3s;
  width: 5%;
  position: absolute;
  z-index: 6;
}

.advideo img:nth-child(3){
  display: none;
}

.advideo img:hover{
  box-shadow: 0px 0px 30px #637BA8, 0px 0px 15px #637BA8;
}

.history {
  z-index: 0;
  position: relative;
  width: 100%;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.history img{
  position: absolute;
  z-index: -55;
  top: -20px;
  right: 0;
  width: 741px;
}

.texto{
  width: 700px;
  margin-left: 300px;
}
.texto p{
  margin: 80px 0px;
}

.parrafo{
  transition: all 1s linear;
  text-align: center;
  margin-right: -200px;
  color: rgb(255, 255, 255);
  font-family: Orbitron;
  font-size: 1.5em;
}

.about{
  width: 100%;
  min-height: 1000px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.about-title{
  color: rgb(255, 255, 255);
  padding: 50px;
  font-family: Orbitron;
  font-size: 2.5em;
}
.dvabout{
  z-index: 5;
  display: flex;
  margin-left: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.questions{
  width: 500px;
  padding: 20px;
  font-family: Orbitron;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
}

.q3 h3{
  margin-bottom: 20px;
}

.tortas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 1000px;
}

.tortas  p{
  padding-top: 50px;
  font-family: Orbitron;
  color: white;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tortas h1 {
  text-align: center;
  color: white;
  font-family: Orbitron;
  font-size: 40px;
}

.tortas3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.torta1 {
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.torta1 h2{
  color: white;
  font-family: Orbitron;
  font-size: 30px;
}

.torta1 img{
  height: 500px;
  width: auto;
}

.torta2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.torta2 h2{
  font-family: Orbitron;
  color: white;
  font-size: 30px;
}

.torta2 img{
  height: 500px;
  width: auto;
}




/************ team *********/

.team-container{
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.aboutus{
  color: #fff;
  font-size: 60px;
  text-align: center;
  padding: 0px;
  font-family: Orbitron;
  margin-bottom: 70px;
}

.team{
  width: 100%;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
}

.dvteam{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.persona{
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  padding: 10px;
  z-index: 5;
}

.persona img{
  width: 20px;
}

.persona h1,
.persona p{
  text-align: center;
  color: #fff;
  font-family: Orbitron;
}

.persona h1{
  font-size: 2em;
}

.persona p{
  font-size: 1.3em;
}

.persona a{
  position: relative;
  text-decoration: none;
}

.persona a:hover{
  text-decoration: underline;
}

.tecnico{
  display: flex;
  align-items: center;
  gap: 50px;
}

.teamPersona{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
}

.teamPersona img{
  width: 25px;
}

.iconosRedes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.persona a {
  height: 20px;
  width: 20px;
  border-radius: 5px;
}

.team2 a { 
  height: 20px;
  width: 20px;
  border-radius: 5px;
}

.persona a:hover,
footer a:hover {
  cursor: pointer;
  border: 2px solid yellow;
  /* transform: scale(1.05); */
  transition: 1s ease linear;
}

/********** footer ************/

footer{
  padding-top: 50px;
}

footer .hola{
  background: rgba(0, 0, 0, 0.8);
  z-index: 50;
  position: relative;
  width: 100%;
  height: 80px;
  gap: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid rgb(255, 255, 255);
}

footer a{
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  font-family: Orbitron;
}

footer a:hover{
  text-decoration: underline;
}
@media (max-width: 1900px){
  .earthquake video{
    height: 1000px;
  }
}

@media (max-width: 1600px){
  .texto{
    margin-left: 200px;
    font-size: .8em;
  }
  .dvabout{
    margin-left: 200px;
    font-size: .8em;
  }
}
@media (max-width: 1400px){
  .texto{
    margin-left: 100px;
  }
  .dvabout{
    margin-left: 100px;
  }
}
@media (max-width: 1300px){
  .history img{
    top: 50px;
    width: 500px;
  }
}
@media (max-width: 1200px){
  .texto{
    margin-left: 50px;
    width: 500px;
  }
  .dvabout{
    margin-left: 50px;
    width: 500px;
    text-align: center;
  }
}
@media (max-width: 1020px){
  .texto{
    margin-left: 10px;
  }
}
@media (max-width: 900px){
  .texto{
    width: 500px;
    font-size: .8em;
  }
}
@media (max-width: 600px){
  .dvabout{
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 500px){
  .texto{
    width: 100%;
  }
  .about{
    align-items: center;
    height: 700px;
  }
  .texto p{
    margin: 40px 30px;
  }
  .dvabout{
    gap: 30px;
    height: 600px;
  }
  .dvabout{
    padding: 0px;
  }
  .dvabout h1{
    padding: 0;
  }
  .questions{
    width: 80%;
    padding: 0;
  }
}

@media (max-width: 230px){
  .texto p{
    margin: 20px 10px;
  }
}


@media (max-width: 860px){
  header{
    flex-wrap: wrap;
  }
  .menu-container{
    display: block;
  }
  .botones{
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    flex-direction: column;
    top: 80px;
    width: 100%;
    display: none;
  }
  .boton{
    height: 50px;
    line-height: 50px;
  }
  .language{
    top: 50px;
    width: 300px;
  }
  .aboutus{
    padding: 30px;
    font-size: 3em;
    margin-bottom: 70px;
  }
  .persona h1{
    font-size: 1.7em;
  }
  .persona p{
    font-size: 1em;
  }
}

@media (max-width: 700px){
  .aboutus{
    padding: 20px;
    font-size: 2em;
    margin-bottom: 20px;
    width: 80%;
  }
  .about-title{
    width: 90%;
  }
  .team {
    flex-direction: column;
  }
  .team-container {
    margin-top: 100px;
    gap: 10px;
    min-height: 1200px;
  }
  .persona h1{
    font-size: 1.4em;
  }
  .persona p{
    font-size: 1em;
  }
  .persona img{
    width: 20px;
  }
  .persona a {
    height: 20px;
    width: 20px;
  }
  .dvteam{
    gap: 40px;
  }
  .persona {
    height: 40px;
    padding: 20px;
  }
  
}


@media (max-width: 600px){
  .earthquake{
    margin-top: 70px;
  }
  .earthquake video{
    width: 100%;
    height: auto;
  }
  #videoMovil {
    display:block;
  }
  #video {
    display:none;
  }
  .torta1 img{
    height: auto;
    width: 90%;
  }
  .torta2 img{
    height: auto;
    width: 90%;
  }
  .tortas  p{    
    font-size: 1.2em;    
  }

  .torta1 {
    height: 400px;
    
  }
  .torta2 {
    height: 400px;    
  }
  
  footer .hola{
    height: 50px;
  }
  footer img{
    height: 30px;
  }

  

  
}