@font-face {
    font-family: 'long-shot';
    src: url('../fonts/Long_Shot.ttf');
}

* {
    padding: 0;
    margin: 0;
}

br{
    height: 10px;
    width: 100%;
}


body {
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
}

#logo {
    color: #fff;
    font-family: 'long-shot';
    white-space: wrap;
    position: relative;
    top: 100px;
    opacity: 0;
    width: 100%;
    font-size: 18em;
    text-align: center;
    transition: all 1s linear;
    user-select: none;

}

P {
    font-family: 'Orbitron', sans-serif;
    color: rgba(255, 255, 255, 0.9);
    font-size: 2em;
    user-select: none;
    font-weight: bold;
}

.parrafo {
    width: 30%;
    min-height: 414px;
    gap: 30px;
    text-align: center;

}



section {
    width: 100%;
    height: 85%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.content {
    width: 100%;
    min-height: 450px;
    opacity: 0;
    gap: 20px;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 3s;

}



.content2{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto2{
    width: 40%;
}

.descripcion{
    text-align: justify;
}

.visible{
    opacity: 1;
}


/************** bnt next******************/

.bnt-next{
    position: absolute;
    bottom: 20px;
}

.bnt-next:hover > p{
    cursor: pointer;
    text-decoration-line: underline;
}

/***************************************/

footer {
    width: 100%;
    opacity: 0;
    transition: all 3s linear;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
}

footer ul {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer li {
    font-size: 2em;
    padding: 0px 20px 60px 20px;
    position: relative;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

footer li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.58);
}

footer a:hover {
    text-decoration-line: underline;
    color: #fff;
}


/**************************************/

@media (max-width: 1650px) {
    .texto {
        width: 50%;
    }
}

@media (max-width: 1200px) {

    

    p {
        font-size: 1.5em;
    }
}

@media (max-width: 600px) {

    .texto {
        width: 90%;
    }

    a {
        font-size: .6em;
    }

}